<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <div class="navbar">
        <h2>Todo List</h2>
    </div>
    <div class="container">
        <div class="add-task-container">
            <a href="{% url 'todo:new' %}">Add Task</a>
        </div>
        <h1>All Tasks</h1>
        {% for task in page_obj %}
        <div class="task" style="display: flex; justify-content: space-between; align-items: center; padding: 10px; border-bottom: 1px solid #ddd;">
            <div class="task-title" style="flex-grow: 1;">
                <span>{{ task.title }}</span>
                <span>||</span>
                <span>(Deadline: {{ task.deadline }})</span>
            </div>
            <div class="task-actions" style="display: flex; gap: 10px;">
                <a href="{% url 'todo:detail' task.id %}">Detail</a>
                <a href="{% url 'todo:update' task.id %}">Update</a>
                <a href="{% url 'todo:delete' task.id %}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
<br>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
